astroid
certifi
chardet
Click
colorama
Flask
Flask-Session
gunicorn
idna
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
psycopg2-binary
pylint
requests
six
SQLAlchemy
typed-ast
urllib3
Werkzeug
wrapt
