{% extends "layout.html" %}

{% block title %}
    {{book.title}}
{% endblock %}

{% block body %}        
    <div class="container"> 
        <div class="row">   
            <div class="col-lg-8 col-xs-12">
                <span class="medium-text" style="font-size: 40px; margin-top:30px">{{book.title}}</span>

                <table class="table table-hover ">
                    <tr>
                        <td><h3><b>ISBN</b></h3></td>
                        <td><h3>{{book.isbn}}</h3></td>
                    </tr>
                    <tr>
                        <td><h3><b>Author</b></h3></td>
                        <td><h3>{{book.author}}</h3></td>
                    </tr>
                    <tr>
                        <td><h3><b>Year published</b></h3></td>
                        <td><h3>{{book.year}}</h3></td>
                    </tr>
                    <tr>
                        <td><h3><b>Average rating</b></h3></td>
                        <td>
                            {% for i in range(full_stars) %}
                                <img src="\static\star.png" class="star" >
                            {% endfor %}
                            {% if half_star == True %}
                                <img src="\static\half_star.png" class="star" >
                            {% endif %}
                            <br><b>{{avg_rating}}</b> based on reviews by <b>{{count}}</b> people
                        </td>
                    </tr>
                    <tr>
                        <td><h3><b>Goodreads' rating</b></h3></td>
                        <td>
                            {% for i in range(gr_full_stars) %}
                                <img src="\static\star.png" class="star" >
                            {% endfor %}
                            {% if gr_half_star == True %}
                                <img src="\static\half_star.png" class="star" >
                            {% endif %}
                            <br><b>{{gr_avg_rating}}</b> based on reviews by <b>{{gr_count}}</b> people
                        </td>
                    </tr>
                    
                </table>
                <span class="small-text">Click <a href=#write_review>here</a> to write/edit your review</span>
                <br>
            </div>  
        </div>         
            
        
            <h1 style="margin-top:60px;">Reviews</h1>
            <hr> 

            {% for review in reviews %}
                <div class="col-container">
                    
                    <div class="list-item col"></div> 

                    <div class="col">
                        {% for i in range(review.rating) %}
                            <img src="\static\star.png" class="star" >
                        {% endfor %}
                        <br>
                        <span style="font-size: 30px">{{review.name}} wrote:</span>
                        <p>{{review.review}}</p>
                    </div>
                    
                </div>
                <hr>
            {% endfor %}

            

            <div class="row"></div>
                <h1 id="write_review">Write a review</h1>
                    <form action="{{ url_for('book_details', isbn=book.isbn) }}" method="POST" class="form-group">
                        <br>
                        <textarea class="form-control" name="review_given" rows="10" style="margin-bottom:20px; resize:none;" placeholder="Write your review here"></textarea>
                        <span style="font-size:20px;">Select a rating </span>
                        
                        <select name="rating" class="rating-select">
                            <option value="1">1 star</option>
                            <option value="2">2 star</option>
                            <option value="3">3 star</option>
                            <option value="4">4 star</option>
                            <option value="5">5 star</option>
                        </select>

                        <br><br>
                        <button class="btn">Submit</button>
                    </form>
            </div>

        </div>

    </div>
{% endblock %}
